<div class="bg-image"></div>
<div class="logo-header">
  <a href="https://codete.com/blog"
     target="_blank"
     rel="noopener"
     class="bg-logo"></a>
  <a href="javascript:void(0)"
     (click)="gotoroot()"
     class="bg-logo-heart"></a>
  <a href="https://rxjs.dev/api"
     target="_blank"
     rel="noopener"
     class="bg-logo-rxjs"></a>
</div>

<ng-template #content>
  <router-outlet></router-outlet>
</ng-template>

<ng-container *ngIf="useCloseLayout$ | async">
  <div class="bg-text-open">
    <mat-card>
    <ng-container [ngTemplateOutlet]="content"></ng-container>
    </mat-card>
  </div>
</ng-container>

<ng-container *ngIf="useOpenLayout$ | async">
  <div class="bg-text">
    <ng-container [ngTemplateOutlet]="content"></ng-container>
  </div>
</ng-container>

<footer>Copyright 2023 Codete</footer>
<firedev-github-fork-me-corner url="https://github.com/codete/codete-rxjs-quick-start"></firedev-github-fork-me-corner>
